/*Note that styles specific to the demo are separated from the contributed css*/

img {
    -moz-box-shadow: 0 0 25px 25px #000;
    -webkit-box-shadow: 0 0 25px 25px #000;
    box-shadow: 0 0 25px 25px #000;
}
